.signup-wrapper{
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

/*As the content grows the footer remains at the bottom of the footer */
.signup-page {
  background-color: #f5fdf6;
  flex:1;
}

.card {
  border: none;
  border-radius: 12px;
}

.btn-success {
  background-color: #2e8b57;
  border-color: #2e8b57;
}

.btn-success:hover {
  background-color: #256c45;
  border-color: #256c45;
}

.heading{
    color:#145c41;
    font-weight:600;
}
footer{
  margin-top: auto; /* Enhances the appearance of the footer */
}